@model TransferViewModel
@{
    ViewBag.Title = "Confirm Transfer";
}

<div class="grow flex items-center justify-center">
    <div class="border-2 border-dashed border-black rounded-lg px-24 py-24 w-1/2">
        <h1 class="text-4xl mb-2 tracking-wider">Confirm Transfer</h1>
        <label asp-for="AccountNumber" class="text-sm text-gray-600"></label>
        <span class="block text-xl">@Html.DisplayFor(m => m.AccountNumber)</span>
        <label asp-for="DestinationAccountNumber" class="text-sm text-gray-600"></label>
        <span class="block text-xl">@Html.DisplayFor(m => m.DestinationAccountNumber)</span>
        <label asp-for="Amount" class="text-sm text-gray-600"></label>
        <span class="block text-xl">@Html.DisplayFor(m => m.Amount)</span>
        <label asp-for="Comment" class="text-sm text-gray-600"></label>
        <span class="block text-xl">@Html.DisplayFor(m => m.Comment)</span>

        <form asp-action="TransferConfirmed" class="mt-3">
            <input asp-for="AccountNumber" type="hidden">
            <input asp-for="DestinationAccountNumber" type="hidden">
            <input asp-for="Amount" type="hidden">
            <input asp-for="Comment" type="hidden">
            <input type="submit" value="Transfer" class="btn btn-neutral btn-block mt-2">
            <button asp-action="TransferCanceled" class="btn btn-warning btn-block mt-2">Cancel</button>
        </form>
    </div>
</div>