@model DepositViewModel
@{
  ViewData["Title"] = "Deposit";
}
<div class="grow flex items-center justify-center">
  <div class="border-2 border-dashed border-black rounded-lg px-24 py-24 w-1/2">
    <h1 class="text-4xl mb-2">Deposit</h1>
    <form asp-action="Index">
      <label asp-for="AccountNumber" class="block mb-1"></label>
      <select asp-for="AccountNumber" class="select select-bordered w-full">
        <option value="">Select account number</option>
        @foreach (var i in Model.Accounts!)
        {
          <option value="@i.AccountNumber">@i.AccountNumber</option>
        }
      </select>
      <span asp-validation-for="AccountNumber" class="text-error mt-1"></span>
      <label asp-for="Amount" class="block mt-2 mb-1"></label>
      <input asp-for="Amount" class="input input-bordered w-full" placeholder="Amount to deposit" />
      <span asp-validation-for="Amount" class="text-error mt-1"></span>
      <label asp-for="Comment" class="block mb-1 mt-2"></label>
      <textarea asp-for="Comment" class="textarea textarea-bordered w-full" placeholder="Comment"></textarea>
      <span asp-validation-for="Comment" class="text-error mt-1"></span>
      <input type="submit" value="Deposit" class="btn btn-neutral btn-block mt-3">
    </form>
  </div>
</div>