<html>

<head>
    <title>Change Password</title>
</head>

@model ChangePasswordViewModel

<body>
    <h1>Change Password</h1>
    <form asp-action="ChangePassword" asp-controller="Profile" method="post">
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
        <br>
        <br>
        <br>
        <input type="submit" value="Change">
        <input type="button" value="Cancel" onclick="history.back()">
    </form>

</body>

</html>