@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="grow flex items-center justify-center">
    <div class="border-2 border-dashed border-black rounded-lg px-24 py-16 w-1/2">
        <h1 class="text-4xl tracking-wider mb-3">Change Password</h1>
        <form asp-action="ChangePassword" asp-controller="Profile" method="post">
            <label asp-for="Password" class="block mb-2"></label>
            <input asp-for="Password" class="input input-bordered w-full max-w-sm" placeholder="New Password">
            <span asp-validation-for="Password" class="text-error mt-1 mb-1"></span>
            <div class="mt-4 flex justify-end space-x-2">
                <input type="button" value="Cancel" onclick="history.back()" class="btn">
                <input type="submit" value="Change" class="btn btn-warning">
            </div>
        </form>
    </div>
</div>