@model CustomerDto

@{
  ViewBag.Title = "Edit Customer";
}
<h1 class="text-3xl tracking-wider mb-5">Edit Customer (@Model.CustomerId)</h1>
<form class="mb-3" asp-action="EditCustomer" asp-route-id="@Model.CustomerId">
  <input asp-for="CustomerId" type="hidden">
  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1 text-gray-900" asp-for="Name"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="Name" placeholder="Bob">
      <span class="text-red-500 text-sm" asp-validation-for="Name"></span>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1" asp-for="TFN"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="TFN" placeholder="XXX XXX XXX">
      <span class="text-red-500 text-sm" asp-validation-for="TFN"></span>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1" asp-for="Address"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="Address" placeholder="123 Road">
      <span class="text-red-500 text-sm" asp-validation-for="Address"></span>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1" asp-for="City"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="City" placeholder="Melbourne">
      <span class="text-red-500 text-sm" asp-validation-for="City"></span>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1" asp-for="State"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="State" placeholder="VIC">
      <span class="text-red-500 text-sm" asp-validation-for="State"></span>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1" asp-for="Postcode"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="Postcode" placeholder="XXXX">
      <span class="text-red-500 text-sm" asp-validation-for="Postcode"></span>
    </div>
    <div class="w-full md:w-1/2 px-2">
      <label class="block mb-1" asp-for="Mobile"></label>
      <input class="border border-gray-300 px-2 py-1 mb-1 w-full rounded-lg" asp-for="Mobile" placeholder="04XX XXX XXX">
      <span class="text-red-500 text-sm" asp-validation-for="Mobile"></span>
    </div>
  </div>

  <div class="flex justify-center">
    <input type="submit" value="Edit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded w-full md:w-1/3">
  </div>
</form>
<div class="flex justify-center">
  <a class="text-blue-500 hover:text-blue-700" asp-action="Customers">Go back</a>
</div>
