<!DOCTYPE html>
<html lang="en" data-theme="corporate">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - MCBA</title>
  <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
  <!-- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> -->
  <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>

<body class="flex flex-col min-h-screen" hx-boost="true">
  <header>
    <div class="navbar bg-base-100 border-b border-black">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl" asp-controller="Home" asp-action="Index">MCBA</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>
                Menu
              </summary>
              <ul class="p-2 bg-base-100 rounded-t-none">
                <li><a asp-controller="Deposit" asp-action="Index">Deposit</a></li>
                <li><a asp-controller="Withdraw" asp-action="Index">Withdraw</a></li>
                <li><a asp-controller="Transfer" asp-action="Index">Transfer</a></li>
                <li><a asp-controller="BillPay" asp-action="Index">BillPay</a></li>
                <li><a asp-controller="Statement" asp-action="Index">My Statement</a></li>
                <li><a asp-controller="Profile" asp-action="Index">Porfile</a></li>
              </ul>
            </details>
          </li>
          <li class="text-error">
            <form asp-action="Logout" asp-controller="Auth">
              <input type="submit" value="Logout">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main role="main" class="px-3 py-5 flex flex-col container grow mx-auto">
    @RenderBody()
  </main>
  <footer class="footer footer-center p-5 bg-base-200 text-base-content rounded">
    <aside>
      <p>Copyright © 2024 - MBCA Australia</p>
    </aside>
  </footer>
  <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
  <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <!-- @await RenderSectionAsync("Scripts", required: false) -->
</body>

</html>
