<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - McbaAdmin</title>
    <link href="~/css/output.css" rel="stylesheet"/>
</head>
<body hx-boost="true" class="flex min-h-screen w-screen flex-col grow bg-slate-100">
    <header>
        <nav class="bg-blue-700 text-white w-full border-b border-gray-200">
          <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a asp-controller="Home" asp-action="Customers" class="flex items-center space-x-3 rtl:space-x-reverse">
              <span class="self-center text-2xl font-semibold whitespace-nowrap">Mcba<sup class="px-2 py-0.5 rounded-2xl bg-blue-200 text-sm text-black ml-1">Admin<sup></span>
          </a>
          <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
              <button type="button" class="text-black bg-red-200 hover:bg-red-300 focus:ring-4 focus:outline-none focus:ring-red-900 font-medium rounded-lg text-sm px-4 py-2 text-center">Logout</button>
          </div>
          </div>
        </nav>
    </header>
    <div class="bg-blue-50 grow">
        <main role="main" class="px-4 my-6 max-w-screen-xl mx-auto">
            @RenderBody()
        </main>
    </div>

    <footer class="py-2 bg-blue-200">
        <div class="container text-center mx-auto">
            &copy; 2024 - McbaAdmin
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- add htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>
</html>
