<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - McbaAdmin</title>
    <link href="~/css/output.css" rel="stylesheet" />
</head>

<body hx-boost="true" class="flex min-h-screen w-screen flex-col grow bg-slate-100">
    <header>
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl font-black">MCBA<sup class="font-light">ADMIN</sup></a>
  </div>
  <nav class="flex-none">
    <button class="btn btn-square btn-ghost">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
</svg>
    </button>
  </div>
</nav>
    </header>
        <main role="main" class="px-4 py-6 w-full  grow bg-base-100 flex">
            @RenderBody()
        </main>

    <footer class="py-2 bg-base-300">
        <div class="container text-center mx-auto">
            &copy; 2024 - McbaAdmin
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- add htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>

</html>
